
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新闻首页</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>

    <script type="text/javascript">
        $(function () {
            binClickEvent();
        });
        function binClickEvent() {
            //绑定超链接的单击事件
            $(".detailLink").click(function () {
                var title = $(this).text();
                var url = $(this).attr("url");
                var isExt = $('#tt').tabs('exists', title);//判断页签是否存在
                if (isExt) {
                    $('#tt').tabs('select', title);
                    return;
                }

                $('#tt').tabs('add', {
                    title: title,
                    content: showContent(url),
                    closable: true
                });

            });
        }
        //页签中显示的内容
        function showContent(url) {
            var strHtml = '<iframe src="' + url + '" scrolling="no" width="100%" height="100%" frameborder="0"></iframe>';
            return strHtml;
        }
    </script>

</head>
<body class="easyui-layout">
    <!------------------顶部布局-------------->
    <div region="north" border="false" style="height:65px;background:#B3DFDA; overflow:hidden;background-image:url('/Content/Images/bg3.png')">
        <img src="/Content/Images/logo.gif" />
    </div>
    <!------------------顶部布局结束-------------->
    <!------------------左边布局-------------->
    <div region="west" split="true" title="West" style="width:150px;padding:2px;">
        <div id="aa" class="easyui-accordion" style="width:auto;height:auto;">
            <div title="新闻管理" iconCls="icon-ok" style="overflow:auto;padding:10px;">
                <a href="javascript:void(0)" class="detailLink" url="/AdminNewsList/Index">新闻管理</a>
            </div>
            <div title="评论管理" iconCls="icon-reload" selected="true" style="padding:10px;">
                <a href="javascript:void(0)" class="detailLink" url="/AdminCommentList/Index">评论管理</a>
            </div>

        </div>



    </div>
    <!------------------左边布局结束-------------->
    <!-----------------底部布局-------------->
    <div region="south" border="false" style="height:30px;background:#A9FACD;padding:10px; text-align:center">版权  &copy;  Itcast</div>
    <!-----------------底部布局结束-------------->

    <div region="center" title="Main Title">
        <div class="easyui-tabs" style="width:700px;height:250px" fit="true" id="tt">
            <div title="新闻管理" style="padding:10px" data-options="closable:true">
                <iframe src="/AdminNewsList/Index" scrolling="no" width="100%" height="100%" frameborder="0"></iframe>
            </div>
            @*<div title="评论管理" data-options="iconCls:'icon-help',closable:true" style="padding:10px">
                This is the help content.
            </div>*@
        </div>
    </div>
</body>
</html>
