
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Content/KinderEditor/kindeditor-min.js"></script>
    <link href="~/Content/KinderEditor/themes/default/default.css" rel="stylesheet" />
    <script src="~/Content/KinderEditor/lang/zh_CN.js"></script>
    <script src="~/Content/KinderEditor/plugins/code/prettify.js"></script>
    <script type="text/javascript">
        KindEditor.ready(function (K) {
            var editor1 = K.create('#MsgContent', {
                cssPath: '/Content/KinderEditor/plugins/code/prettify.css',
                uploadJson: '/Content/KinderEditor/asp.net/upload_json.ashx',
                fileManagerJson: '/Content/KinderEditor/asp.net/file_manager_json.ashx',
                allowFileManager: true,
                afterBlur: function () { this.sync(); },//注意这里（异步提交时需要同步）
                afterCreate: function () {
                    var self = this;
                    self.sync();//把富文本编辑器的内容放到  文本域里面去。

                }
            });
            prettyPrint();//注意要调用该方法.
        });
        //$(function () {
        //    fileUpload();
        //});
        //function fileUpload() {
        //    $("#btnFileUp").click(function () {
        //        if ($("#fileUpImage").val() == "") {
        //            $.messager.alert("提示", "请选择上传的图片文件", "info");
        //            return;
        //        }
        //        $("#form1").ajaxSubmit({
        //            type: "post",
        //            url: "/AdminNewList/FileUpload",
        //            success: function (data) {
        //                var serverData = data.split(':');
        //                if (serverData[0] == "ok") {
        //                    $("#hidImagePath").val(serverData[1]);//将路径赋值给了隐藏域，提交表单时将提交到服务端保存到数据库.
        //                    $("#showImage").append("<img src='"+serverData[1]+"' width='40px' height='40px'/>");
        //                } else {
        //                    $.messager.alert("提示", serverData[1], "info");
        //                }
        //            }
        //        });
        //    });
        //}
        ////提交表单
        //function subForm() {
        //    $("#form1").submit();
        //}
        //function afterAdd() {
        //    window.parent.afterAdd();
        //}

    </script>
    <title>添加新闻信息</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>新闻标题</td>
                <td><input type="text" name="Title"/></td>
            </tr>
            <tr>
                <td>作者</td>
                <td><input type="text" name="Author" /></td>
            </tr>
            <tr>
                <td>上传图片</td>
                <td>
                    <input type="file" name="fileUp" id="fileUpImage"/>
                    <input type="submit" name="上传图片" id="btnFileUp" />
                    <div id="showImage"></div>
                </td>
            </tr>
            <tr>
                <td>新闻内容</td>
                <td>
                    <textarea id="MsgContent" cols="100" rows="8" style="width: 500px; height:200px; visibility: hidden;" name="Msg"></textarea>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
